# Dépendances
/node_modules

# Fichiers de build
/build

# Fichiers d'environnement
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers du système d'exploitation
.DS_Store
Thumbs.db