# Configuration du serveur
PORT=3000
NODE_ENV=development

# Configuration de la base de données
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password
DB_DATABASE=your_db_name
DB_HOST=localhost
DB_DIALECT=postgres

# Clé JWT pour l'authentification
JWT_SECRET=your_jwt_secret_key
