/* client/src/styles/Header.css */

.ui.secondary.menu.custom-header {
    background-color: rgba(128, 128, 128, 0.5);
    padding: 0.5em 0;
  }

  .ui.secondary.menu.custom-header .item {
    color: #AEC9FF !important;
    font-weight: normal;
  }

  .ui.secondary.menu.custom-header .header.item {
    font-size: 1.2em;
    font-weight: bold;
  }

  .ui.secondary.menu.custom-header .item:hover {
    background-color: rgba(174, 201, 255, 0.1);
  }