/* client/src/styles/Header.css */
.ui.menu.custom-header {
  background-color: rgba(9, 9, 9, 0.5) !important;
  backdrop-filter: blur(5px);
}

.ui.menu.custom-header .item {
  color: #AEC9FF !important;
  font-weight: normal;
}

.ui.menu.custom-header .header.item {
  font-size: 1.2em;
  font-weight: bold;
}

.ui.menu.custom-header .item:hover {
  background-color: rgba(174, 201, 255, 0.1);
}