/* client/src/styles/Home.css */
.main-content {
  padding-top: 2rem;
  color: #AEC9FF;
}

.elegant-title {
  font-size: 7rem !important;
  color: #AEC9FF !important;
  text-shadow: 0 0 2px rgba(174, 201, 255, 0.5);
  margin-bottom: 0 !important;
  transition: all 0.3s ease;
}

.subtitle {
  font-size: 2.5rem !important;
  color: #AEC9FF !important;
  margin-top: 0 !important;
  margin-bottom: 2rem !important;
}

.blur-segment {
  background-color: rgba(9, 9, 9, 0.7) !important;
  backdrop-filter: blur(5px);
  color: #AEC9FF !important;
  margin-bottom: 1rem !important;
  padding: 1rem !important;
  position: relative;
  overflow: hidden;
}

.blur-segment h3 {
  color: #AEC9FF !important;
  font-size: 1.5rem !important;
  margin-bottom: 0.5rem !important;
}

.ui.button.top-right-button {
  position: absolute !important;
  top: 1rem;
  right: 1rem;
  background-color: #3D5A80;
  color: #FFFFFF;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

.ui.button.top-right-button:hover {
  background-color: #2C3E50;
}

.news-segment {
  min-height: 150px;
}

.about-segment, .funfact-segment {
  height: 100%;
}

.segment-content {
  margin-right: 100px; /* Espace pour le bouton */
}