/* Importations des styles slick-carousel */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* Configuration Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Définition des composants */
@layer components {
  /* Styles des boutons */
  .btn {
    @apply bg-special text-primary font-action tracking-wider py-2 px-4 transition-transform duration-500 ease-in-out;
    @apply hover:bg-primary hover:text-text hover:transform hover:scale-105 hover:shadow-lg;
  }

  .btn:hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  /* Styles des boutons de filtre */
  .btn-filter {
    @apply text-primary text-sm bg-text border border-primary px-3 py-1 font-serif transition-colors duration-300 ease-in-out flex items-center;
  }

  .btn-filter:hover {
    @apply bg-primary text-white border-primary;
  }

  .active-filter {
    @apply bg-special text-secondary border-primary; /* Assurez-vous que cela corresponde à votre thème */
  }
}

/* Styles de base */
@layer base {
  /* Styles du body */
  body {
    @apply bg-background-default text-text font-sans;
  }

  /* Styles pour les titres */
  h1 {
    @apply font-display;
  }

  h2 {
    @apply font-serif text-2xl mb-4;
  }
}

/* Animations */
@keyframes softNeon {
  0%, 100% {
    text-shadow: 0 0 5px #fff, 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 0, 255, 0.2);
  }
  50% {
    text-shadow: 0 0 5px #fff, 0 0 15px rgba(255, 0, 255, 0.5), 0 0 30px rgba(255, 0, 255, 0.3);
  }
}

/* Classe pour l'effet néon */
.h1-neon:hover {
  animation: softNeon 2s ease-in-out infinite alternate;
  color: #fff;
}

/* Animation de zoom et déplacement lent */
@keyframes subtleZoom {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.25) translateY(-10px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

.hero-img-animate {
  position: relative;
  animation: subtleZoom 15s ease-in-out infinite;
  filter: brightness(50%);
}

header span {
  transition: opacity 0.3s ease-in-out;
}

header span.hidden {
  opacity: 0;
}